source/efff/schematron/UBL/EFFF-UBL-T10.sch

<!-- Schematron binding rules automatically generated by Validex Generator Midran ltd -->
<!-- Data binding to UBL syntax for T10 -->
<!-- Timestamp: 2016-12-20 15:34:11 +0100 -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="T10" id="UBL-T10">
  <param name="EFFF-T10-R001" value="cac:AdditionalDocumentReference/cbc:DocumentType = 'CommercialInvoice'"/>
  <param name="EFFF-T10-R002" value="(cbc:ID='eFFF')"/>
  <param name="EFFF-T10-R003" value="exists(cac:AdditionalDocumentReference[cbc:ID='eFFF'])"/>
  <param name="EFFF-T10-R004" value="string-length(cbc:DocumentType) &gt; 1"/>
  <param name="EFFF-T10-R005" value="(cbc:SettlementDiscountPercent) and (cbc:Amount)"/>
  <param name="EFFF-T10-R006" value="(cbc:SettlementDiscountPercent) and (cac:SettlementPeriod/cbc:EndDate)"/>
  <param name="EFFF-T10-R007" value="(cbc:Name)"/>
  <param name="EFFF-T10-R008" value="((../cac:PaymentTerms/cbc:SettlementDiscountPercent) and (cac:TaxTotal/cac:TaxSubtotal/cbc:TaxableAmount)) or not(../cac:PaymentTerms/cbc:SettlementDiscountPercent)"/>
  <param name="EFFF-T10-R009" value="((../cac:PaymentTerms/cbc:SettlementDiscountPercent) and (cac:TaxTotal/cac:TaxSubtotal/cbc:TaxAmount)) or not(../cac:PaymentTerms/cbc:SettlementDiscountPercent)"/>
  <param name="EFFF-T10-R010" value="((../cac:PaymentTerms/cbc:SettlementDiscountPercent) and (cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cbc:ID)) or not(../cac:PaymentTerms/cbc:SettlementDiscountPercent)"/>
  <param name="EFFF-T10-R011" value="((../cac:PaymentTerms/cbc:SettlementDiscountPercent) and (cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cbc:Name)) or not(../cac:PaymentTerms/cbc:SettlementDiscountPercent)"/>
  <param name="EFFF-T10-R012" value="((../cac:PaymentTerms/cbc:SettlementDiscountPercent) and (cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cbc:Percent)) or not(../cac:PaymentTerms/cbc:SettlementDiscountPercent)"/>
  <param name="EFFF-T10-R013" value="((../cac:PaymentTerms/cbc:SettlementDiscountPercent) and (cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cbc:TaxExemptionReason = 'Cash discount')) or not(../cac:PaymentTerms/cbc:SettlementDiscountPercent) or not(cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cbc:TaxExemptionReason)"/>
  <param name="EFFF-T10-R014" value="((../cac:PaymentTerms/cbc:SettlementDiscountPercent) and (cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cac:TaxScheme/cbc:ID = 'VAT')) or not(../cac:PaymentTerms/cbc:SettlementDiscountPercent)"/>
  <param name="EFFF-T10-R015" value="(cac:Item/cac:ClassifiedTaxCategory/cbc:Name)"/>
  <param name="Production_Software" value="//cac:AdditionalDocumentReference[cbc:ID='eFFF']"/>
  <param name="Tax_Category" value="//cac:TaxCategory"/>
  <param name="Payment" value="//cac:PaymentTerms"/>
  <param name="Invoice_line" value="//cac:InvoiceLine"/>
  <param name="Invoice" value="/ubl:Invoice"/>
</pattern>
