source/efff/schematron/UBL/EFFF-UBL-T10.sch

<!-- Schematron binding rules automatically generated by Validex Generator Midran ltd -->
<!-- Data binding to UBL syntax for T10 -->
<!-- Timestamp: 2016-12-12 07:05:39 +0100 -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="T10" id="UBL-T10">
  <param name="EFFF-T10-R001" value="cac:AdditionalDocumentReference/cbc:DocumentType = 'CommercialInvoice'"/>
  <param name="EFFF-T10-R002" value="exists(cac:AdditionalDocumentReference[cbc:ID='eFFF'])"/>
  <param name="EFFF-T10-R003" value="exists(cac:AdditionalDocumentReference[cbc:ID='eFFF'])"/>
  <param name="EFFF-T10-R004" value="string-length(cbc:DocumentType) &gt; 1"/>
  <param name="EFFF-T10-R005" value="(cbc:SettlementDiscountPercent)"/>
  <param name="EFFF-T10-R006" value="(cbc:SettlementDiscountPercent) and (cbc:Amount)"/>
  <param name="EFFF-T10-R007" value="(cbc:SettlementDiscountPercent) and (cbc:EndDate)"/>
  <param name="EFFF-T10-R008" value="(cbc:Name = 'Belgian?')"/>
  <param name="EFFF-T10-R009" value="(cac:PaymentTerms/cbc:SettlementDiscountPercent) and (cac:TaxTotal/cac:TaxSubtotal/cbc:TaxableAmount)"/>
  <param name="EFFF-T10-R010" value="(cac:PaymentTerms/cbc:SettlementDiscountPercent) and (cac:TaxTotal/cac:TaxSubtotal/cbc:TaxAmount)"/>
  <param name="EFFF-T10-R011" value="(cac:PaymentTerms/cbc:SettlementDiscountPercent) and (cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cbc:ID)"/>
  <param name="EFFF-T10-R012" value="(cbc:Name = 'Belgian?')"/>
  <param name="EFFF-T10-R013" value="(cac:PaymentTerms/cbc:SettlementDiscountPercent) and (cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cbc:Percent)"/>
  <param name="EFFF-T10-R014" value="(cac:PaymentTerms/cbc:SettlementDiscountPercent) and (cac:InvoiceLine/TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cbc:TaxExemptionReason = 'Cash Discount')"/>
  <param name="EFFF-T10-R015" value="(cac:PaymentTerms/cbc:SettlementDiscountPercent) and (TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cbc:TaxExemptionReason) and (cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cac:TaxScheme/cbc:ID = 'VAT')"/>
  <param name="EFFF-T10-R016" value="(cbc:Name = 'Belgian?')"/>
  <param name="Production_Software" value="//cac:AdditionalDocumentReference[cbc:ID='eFFF']"/>
  <param name="Tax_Category" value="//cac:TaxCategory"/>
  <param name="Payment" value="//cac:PaymentMeans"/>
  <param name="Invoice_Line" value="//cac:InvoiceLine"/>
  <param name="Invoice" value="/ubl:Invoice"/>
</pattern>
